<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      li {
        background-color: #c9d7dd;
        height: 20px;
        width: 80px;
        text-align: center;
        list-style-type: none;
        padding: 10px 20px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <ul>
      <% if (page === 1) { %>
      <li onclick="page_change('<%=page%>')"><%=page%></li>
      <li id="pagemax" onclick="page_change('<%=page+1%>')"><%=page+1%></li>
      <li onclick="last_page('<%=last_page%>')">>></li>
      <% } else if (page == last_page) { %>
      <li onclick="first_page('1')"><<</li>
      <li id="pagemin" onclick="page_change('<%=page-1%>')"><%=page-1%></li>
      <% } else { %>
      <li onclick="first_page('1')"><<</li>
      <li id="pagemin" onclick="page_change('<%=page-1%>')"><%=page-1%></li>
      <li onclick="page_change('<%=page%>')"><%=page%></li>
      <li id="pagemax" onclick="page_change('<%=page+1%>')"><%=page+1%></li>
      <li onclick="last_page('<%=last_page%>')">>></li>
      <% } %>
    </ul>
    <script>
      const first_page = (page) => {
        window.location = `http://localhost:8000/order?sql=<%=sql%>&total_data=<%=
          total_data%>&col1=<%=col%>&order=<%=order%>&page=${page}`;
      };
      const last_page = (page) => {
        window.location = `http://localhost:8000/order?sql=<%=sql%>&total_data=<%=
          total_data%>&col1=<%=col%>&order=<%=order%>&page=${page}`;
      };
      const page_change = (page) => {
        window.location = `http://localhost:8000/order?sql=<%=sql%>&total_data=<%=
          total_data%>&col1=<%=col%>&order=<%=order%>&page=${page}`;
      };
    </script>
  </body>
</html>
