<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .pagination > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      .pagination > ul > li {
        background-color: #c9d7dd;
        height: 50px;
        width: 80px;
        text-align: center;
        list-style-type: none;
        padding: 10px 20px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="pagination">
      <ul>
        <% if (page === 1) { %>
        <li onclick="page_change('<%=page%>')"><%=page%></li>
        <li id="pagemax" onclick="page_change('<%=page+1%>')"><%=page+1%></li>
        <li onclick="last_page('<%=last_page%>')">>></li>
        <% } else if (page == last_page) { %>
        <li onclick="first_page('1')"><<</li>
        <li id="pagemin" onclick="page_change('<%=page-1%>')"><%=page-1%></li>
        <li onclick="page_change('<%=page%>')"><%=page%></li>
        <% } else { %>
        <li onclick="first_page('1')"><<</li>
        <li id="pagemin" onclick="page_change('<%=page-1%>')"><%=page-1%></li>
        <li onclick="page_change('<%=page%>')"><%=page%></li>
        <li id="pagemax" onclick="page_change('<%=page+1%>')"><%=page+1%></li>
        <li onclick="last_page('<%=last_page%>')">>></li>
        <% } %>
      </ul>
    </div>
    <script>
      const first_page = (page) => {
        window.location = `http://localhost:8000/student?page=${page}&month=${month}`;
      };
      const last_page = (page) => {
        window.location = `http://localhost:8000/student?page=${page}&month=${month}`;
      };
      const page_change = (page) => {
        console.log(page);
        window.location = `http://localhost:8000/student?page=${page}&month=${month}`;
      };
    </script>
  </body>
</html>
