<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-center {
        text-align: center;
      }
      * {
        margin: 0;
        padding: 0;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      table {
        margin: 50px auto;
      }
      table,
      tr,
      td,
      th {
        border: 2px solid black;
        border-collapse: collapse;
      }
      td,
      th {
        text-align: center;
        height: 50px;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <%- include('../nav.ejs'); %> <%- include('../heder.ejs'); %>
    <h2 class="text-center">ALL STUDENTS</h2>
    <h3 class="text-center">Month : <%=month%></h3>
    <div style="margin: 20px">
      month:
      <select name="order_by" id="order" class="btn btn-dark">
        <option id="1" value="1" onclick="chenge_month(value)">Dec</option>
        <option id="2" value="2" onclick="chenge_month(value)">Jan</option>
        <option id="3" value="3" onclick="chenge_month(value)">Fab</option>
      </select>
    </div>
    <table class="table table-striped text-center table-bordered m-5">
      <tr>
        <% table_heder.map((e)=> { %>
        <th><%=e.name%></th>
        <% }) %>
      </tr>
      <% data.map((e)=> { %>
      <tr>
        <td><%=e.Student_ID%></td>
        <td><%=e.First_name%></td>
        <td><%=e.Last_name%></td>
        <td><%=e.PRESENT_DAYS%></td>
        <td><%=e.PERCENTAGE%>%</td>
      </tr>
      <% }) %>
    </table>
    <%- include('./pagination.ejs'); %>
    <script>
      let month = 1;
      const chenge_month = (e) => {
        month = e;
        window.location = `http://localhost:8000/student?page=1&month=${month}`;
      };
      document.getElementById("<%=month%>").selected = true;
    </script>
  </body>
</html>
